.contenedor{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#recuadro{
    border: solid 2px;
    width: 1200px;
    text-align: center;
    font-style: italic;
    
}

#uno{
    width: 1200px;
    margin-top: 30px;
    border-color: rgb(231, 255, 255);
}

.insertar{
    display: flex;
}
.insertar input{

    margin-left: 6px;
    height: 3vh;
    align-self: center;
    width: 200px;
}

#dos{
    width: 1200px;
    border-color: rgb(231, 255, 255);
}

.colores{
    display: flex;

}

.colores input{
    align-self: center;
    margin-left: 10px;
    margin-right: 10px;
}

#tres{
    width: 1200px;
    border-color: rgb(231, 255, 255);
}

button{
    border-color: rgb(47, 51, 51);
    border-radius: 5px;
    padding: 8px;
    justify-content: center;
    text-align: center;
    background-color: rgb(224, 252, 242);
}

