.contenedor{
    border: solid;
}

#titulo{
    border-bottom: solid 5px;
    margin-right: 980px;
    margin-left: 20px;
}

#texto1{
    display: flex;
    margin-left: 8px;
}
#texto2{
    display: flex;
    margin-left: 8px;
}

#recuadro1{
    width: 300px;
    height: 4vh;
    justify-content: center;
    align-self: center;
    margin-left: 5px;
    background-color: rgb(255, 196, 0);
    border: solid 0.5px;
}

#recuadro2{
    width: 300px;
    height: 4vh;
    justify-content: center;
    align-self: center;
    margin-left: 5px;
    background-color: rgb(255, 196, 0);
    border: solid 0.5px;
}

button{
    margin-left: 8px;
    width: 150px;
    height: 5vh;
    justify-content: center;
    align-self: center;
    font-weight: bold;
    font-size: large;
    
}